* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }
/*header*/
body {
  background-color: #508593; }

.hero {
  height: 100vh;
  width: 100%;
  background-image: url(../archivos/bg.jpg);
  background-size: cover;
  background-position: center; }

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 35px; }

.logo {
  color: #0090218d;
  font-size: 50px;
  letter-spacing: 2px;
  font-family: 'Times New Roman', Times, serif; }

.logo:hover {
  color: #59c4ce; }

span {
  color: #59c4ce; }

nav ul li {
  color: #0090218d;
  list-style-type: none;
  cursor: pointer;
  display: inline-block;
  padding: 10px 25px;
  font-size: 20px; }

nav ul li a {
  text-decoration: none;
  color: #0090218d;
  font-family: 'Times New Roman', Times, serif; }

nav ul li a:hover {
  color: #59c4ce;
  transition: .4s;
  text-decoration: underline; }

/*main*/
  .contenedor {
    position: absolute;
    top: 40%;
    left: 15%;
    transform: translateY(-50%); }
  
  h2 {
    color: #0090218d;
    margin: 20px 0px 20px;
    font-size: 75px; }
  
  h2 span {
    color: #59c4ce; }
  
  h3 {
    color: #0090218d;
    font-size: 30px;
    margin-bottom: 20px;
    margin-left: 65px; }
  
  h3 span {
    color: #59c4ce; }
  
  h2:hover {
    color: #59c4ce;
    transition: .4s; }
  
  h3:hover {
    color: #59c4ce;
    transition: .4s; }
  
  .container {
    background-image: url(../archivos/elNorte.jpg);
    background-size: cover;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 80px 100px;
    margin-top: 15px;
    gap: 15px; }
  
  .container h2 {
    font-family: 'Times New Roman', Times, serif;
    color: #0090218d; }
  
  .container h2:hover {
    color: #000000; }
  
  .card {
    text-align: center;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif; }
  
  .contenedorDos {
    height: 100%;
    width: 100%;
    background-image: url(../archivos/bg2.jpg);
    background-size: cover;
    background-position: center; }
  
  .nosotros {
    display: block;
    justify-content: space-between;
    padding: 60px;
    width: 50%;
    border-radius: 10px;
    margin: 15px auto; }
  
  .nosotros h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
    text-align: center;
    margin-bottom: 20px;
    color: #0090218d; }
  
  .nosotros h2:hover {
    color: #7fffd4;
    transition: .4s; }
  
  .nosotros p {
    margin-bottom: 15px;
    margin-right: 15px;
    text-align: center;
    color: #508593; }
  
  .nosotros p:hover {
    color: #000000; }

/*footer*/
.footer {
  background-color: #508593;
  padding: 40px 60px ;
  text-align: center;
  margin-top: auto; }
  
  .footer h2{
    font-size: 40px;
  }

.footer ul li {
  list-style-type: none;
  margin-right: 30px;
  cursor: pointer; }

.footer a {
  text-decoration: none;
  color: #7fffd4;
  font-family: 'Times New Roman', Times, serif; }

.footer a:hover {
  text-decoration: underline;
  color: #000000;
  transition: .4s; }

.colorcito {
  color: #7fffd4; }

.colorcito:hover {
  color: #59c4ce;
  transition: .4s; }

.footer ul li:hover {
  color: #7fffd4; }

.redes {
  font-size: 40px;
  margin-top: 10px; }

.fa-envelope {
  color: #7fffd4; }

.fa-envelope:hover {
  color: #59c4ce;
  transition: .4s; }

.fa-discord {
  color: #7fffd4; }

.fa-discord:hover {
  color: #59c4ce;
  transition: .4s; }

.fa-instagram {
  color: #7fffd4; }

.fa-instagram:hover {
  color: #59c4ce;
  transition: .4s; }

/*GALERIA*/
.carrousel {
  width: 50%;
  height: 40vh;
  object-fit: cover;
  position: absolute;
  top: 40%;
  left: 25%;
  transform: translateY(-50%); }

.carousel-item img {
  border-radius: 20px; }

.galeriaTitulo h2{
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  letter-spacing: 2px;
  font-size: 30px;
}

.galeriaTitulo span {
  color: #7fffd4; }

.galeriaTitulo h2:hover {
  color: #7fffd4; }
/*CONTACTO*/
.containerForm {
  height: 55vh;
  width: 70%;
  position: absolute;
  transform: translateY(-150%);
  margin-left: 40px; }

.form-label {
  font-family: 'Times New Roman', Times, serif;
  color: #0090218d; }

.form-label:hover {
  color: #000000; }

.btn-primary {
  margin-top: 10px; }

.textContacto {
  margin-top: 30px; }

.tituloMision {
  font-family: 'Times New Roman', Times, serif;
  font-size: 35px;
  color: #0090218d; }

.tituloMision:hover {
  color: #508593; }

.textContacto p {
  color: #508593; }

.textContacto p:hover {
  color: #000000; }

  @media only screen and (min-width: 1200px) {
    .container h2 {
      font-size: 25px; } 
      
  }
    
@media only screen and (min-width: 900px) and (max-width: 1200px) {
  .textContacto p {
    font-size: 15px;
    margin-bottom: 7px; }
  .card {
    font-size: 15px; }

  .container h2 {
    font-size: 25px; } 
    }

@media only screen and (min-width: 900px) and (max-width: 992px) {
  .card {
    font-size: 12px; } }

@media only screen and (min-width: 600px) and (max-width: 899px) {
  h1 {
    font-size: 60px; }
  .textContacto p {
    font-size: 11px; }
  .tituloMision {
    font-size: 30px; }
  .nosotros p {
    font-size: 11px; }
  .nosotros h2 {
    font-size: 30px; }
  .card {
    font-size: 8px; }
  .container h2 {
    font-size: 18px; } }

@media only screen and (min-width: 456px) and (max-width: 599px) {
  nav ul li {
    font-size: 15px;
    padding: 20px 0 20px; }
  h1 {
    font-size: 30px; }
  h3 {
    font-size: 20px;
    margin-right: 20px; }
  .logo {
    font-size: 25px; }
  .tituloMision {
    font-size: 25px; }
  .textContacto p {
    font-size: 11px; }
  .nosotros p {
    font-size: 8px; }
  .nosotros h2 {
    font-size: 25px; }
  .card {
    font-size: 6px; }
  .container h2 {
    font-size: 15px; }
  .container {
    padding: 40px 60px; } }

@media only screen and (min-width: 320px) and (max-width: 455px) {
  nav ul li {
    font-size: 15px;
    padding: 20px 0 20px; }
  h1 {
    font-size: 30px; }
  h3 {
    font-size: 20px;
    margin-right: 20px; }
  .logo {
    font-size: 25px; }
  .textContacto p {
    font-size: 9px; }
  .tituloMision {
    font-size: 18px; }
  .nosotros p {
    font-size: 8px; }
  .nosotros h2 {
    font-size: 20px; }
  .card {
    font-size: 5px; }
  .container h2 {
    font-size: 12px; }
  .container {
    padding: 20px 50px; } }
