* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  background-color: #508593; }

.hero {
  height: 100vh;
  width: 100%;
  background-image: url(./archivos/bg.jpg);
  background-size: cover;
  background-position: center; }
  .hero nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 35px; }
    .hero nav .logo {
      color: #0090218d;
      font-size: 50px;
      letter-spacing: 2px;
      font-family: 'Times New Roman', Times, serif; }
      .hero nav .logo .logo:hover {
        color: #59c4ce; }
    .hero nav nav ul li {
      color: #0090218d;
      list-style-type: none;
      cursor: pointer;
      display: inline-block;
      padding: 10px 25px;
      font-size: 20px; }
      .hero nav nav ul li nav ul li a {
        text-decoration: none;
        color: #0090218d;
        font-family: 'Times New Roman', Times, serif; }
        .hero nav nav ul li nav ul li a nav ul li a:hover {
          color: #59c4ce;
          transition: .4s;
          text-decoration: underline; }

span {
  color: #59c4ce; }

.footer {
  background-color: #508593;
  padding: 1em 0;
  text-align: center;
  margin-top: auto;
  font-size: 20px; }
  .footer .footer ul li {
    list-style-type: none;
    margin-right: 30px;
    cursor: pointer; }
    .footer .footer ul li .footer ul li:hover {
      color: #7fffd4; }
      .footer .footer ul li .footer ul li:hover .footer a {
        text-decoration: none;
        color: #7fffd4;
        font-family: 'Times New Roman', Times, serif; }
        .footer .footer ul li .footer ul li:hover .footer a .footer a:hover {
          text-decoration: underline;
          color: #000000;
          transition: .4s; }

.colorcito {
  color: #7fffd4; }
  .colorcito .colorcito:hover {
    color: #59c4ce;
    transition: .4s; }

.redes {
  font-size: 40px;
  margin-top: 10px; }
  .redes .fa-envelope {
    color: #7fffd4; }
    .redes .fa-envelope .fa-envelope:hover {
      color: #59c4ce;
      transition: .4s; }
  .redes .fa-discord {
    color: #7fffd4; }
    .redes .fa-discord .fa-discord:hover {
      color: #59c4ce;
      transition: .4s; }
  .redes .fa-instagram {
    color: #7fffd4; }
    .redes .fa-instagram .fa-instagram:hover {
      color: #59c4ce;
      transition: .4s; }

.contenedor {
  position: absolute;
  top: 40%;
  left: 15%;
  transform: translateY(-50%); }

h1 {
  color: #0090218d;
  margin: 20px 0px 20px;
  font-size: 75px; }

h1 span {
  color: #59c4ce; }

h3 {
  color: #0090218d;
  font-size: 30px;
  margin-bottom: 20px;
  margin-left: 65px; }

h3 span {
  color: #59c4ce; }

h1:hover {
  color: #59c4ce;
  transition: .4s; }

h3:hover {
  color: #59c4ce;
  transition: .4s; }

.container {
  background-image: url(./archivos/elNorte.jpg);
  background-size: cover;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  gap: 15px; }

.container h2 {
  font-family: 'Times New Roman', Times, serif;
  color: #0090218d; }

.container h2:hover {
  color: #000000; }

.card {
  height: 80px;
  width: 100px;
  text-align: center;
  text-decoration: none;
  font-family: 'Times New Roman', Times, serif; }

.contenedorDos {
  height: 100%;
  width: 100%;
  background-image: url(./archivos/bg2.jpg);
  background-size: cover;
  background-position: center; }

.nosotros {
  display: block;
  justify-content: space-between;
  padding: 60px;
  width: 50%;
  border-radius: 10px;
  margin: 15px auto; }

.nosotros h2 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 35px;
  text-align: center;
  margin-bottom: 20px;
  color: #0090218d; }

.nosotros h2:hover {
  color: #7fffd4;
  transition: .4s; }

.nosotros p {
  margin-bottom: 15px;
  margin-right: 15px;
  text-align: center;
  color: #508593; }

.nosotros p:hover {
  color: #000000; }

.carrousel {
  width: 50%;
  height: 50vh;
  object-fit: cover;
  position: absolute;
  top: 40%;
  left: 25%;
  transform: translateY(-50%); }

.carousel-item img {
  border-radius: 20px; }

.galeriaTitulo {
  padding: 10px 0px 20px;
  text-align: center;
  margin-top: 40px;
  font-family: 'Times New Roman', Times, serif;
  letter-spacing: 2px; }

.galeriaTitulo span {
  color: #7fffd4; }

.galeriaTitulo h2:hover {
  color: #7fffd4; }

.containerForm {
  height: 55vh;
  width: 70%;
  position: absolute;
  transform: translateY(-150%);
  margin-left: 40px; }

.form-label {
  font-family: 'Times New Roman', Times, serif;
  color: #0090218d; }

.form-label:hover {
  color: #000000; }

.btn-primary {
  margin-top: 10px; }

.textContacto {
  margin-top: 30px; }

.tituloMision {
  font-family: 'Times New Roman', Times, serif;
  font-size: 35px;
  color: #0090218d; }

.tituloMision:hover {
  color: #508593; }

.textContacto p {
  color: #508593; }

.textContacto p:hover {
  color: #000000; }

@media only screen and (min-width: 900px) and (max-width: 1200px) {
  .textContacto p {
    font-size: 15px;
    margin-bottom: 7px; }
  .card {
    font-size: 15px; }
  .container h2 {
    font-size: 25px; } }

@media only screen and (min-width: 900px) and (max-width: 992px) {
  .card {
    font-size: 12px; } }

@media only screen and (min-width: 600px) and (max-width: 899px) {
  h1 {
    font-size: 60px; }
  .textContacto p {
    font-size: 11px; }
  .tituloMision {
    font-size: 30px; }
  .nosotros p {
    font-size: 11px; }
  .nosotros h2 {
    font-size: 30px; }
  .card {
    font-size: 8px; }
  .container h2 {
    font-size: 18px; } }

@media only screen and (min-width: 456px) and (max-width: 599px) {
  nav ul li {
    font-size: 15px;
    padding: 20px 0 20px; }
  h1 {
    font-size: 30px; }
  h3 {
    font-size: 20px;
    margin-right: 20px; }
  .logo {
    font-size: 25px; }
  .tituloMision {
    font-size: 25px; }
  .textContacto p {
    font-size: 11px; }
  .nosotros p {
    font-size: 8px; }
  .nosotros h2 {
    font-size: 25px; }
  .card {
    font-size: 6px; }
  .container h2 {
    font-size: 15px; }
  .container {
    padding: 40px 60px; } }

@media only screen and (min-width: 320px) and (max-width: 455px) {
  nav ul li {
    font-size: 15px;
    padding: 20px 0 20px; }
  h1 {
    font-size: 30px; }
  h3 {
    font-size: 20px;
    margin-right: 20px; }
  .logo {
    font-size: 25px; }
  .textContacto p {
    font-size: 9px; }
  .tituloMision {
    font-size: 18px; }
  .nosotros p {
    font-size: 8px; }
  .nosotros h2 {
    font-size: 20px; }
  .card {
    font-size: 5px; }
  .container h2 {
    font-size: 12px; }
  .container {
    padding: 20px 50px; } }
