*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*Header*/
body{
    background-color: #000000;
}
.hero{
    height: 100vh;
    width: 100%;
    background-image: url(./archivos/bg.jpg);
    background-size:cover;
    background-position: center;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 35px;
}
.logo{
    color: #0090218d;
    font-size: 50px;
    letter-spacing: 2px;
    cursor: pointer;
    font-family:'Times New Roman', Times, serif;
}
.logo:hover{
    color: #59c4ce;
}
span{
    color: #59c4ce;
}
nav ul li{
    color: #0090218d;
    list-style-type: none;
    cursor: pointer;
    display: inline-block;
    padding: 10px 25px;
    font-size: 20px;
}

nav ul li:hover{
    color: #59c4ce;;
    transition: .4s;
}
/*main*/

.contenedor{
    position: absolute;
    top: 40%;
    left: 15%;
    transform: translateY(-50%) 
}
h1{
    color:#0090218d;
    margin: 20px 0px 20px;
    font-size: 75px;
}
h1 span{
    color: #59c4ce;
}
h3{
    color: #0090218d;
    font-size: 30px;
    margin-bottom: 20px;
    margin-left: 65px;
}
h3 span{
    color: #59c4ce;
}
h1:hover{
    color: #59c4ce;
    transition: .4s;
}
h3:hover{
    color: #59c4ce;
    transition: .4s;
}
.contenedorDos{
    height: 100%;
    width: 100%;
    background-image: url(./archivos/bg2.jpg);
    background-size: cover;
    background-position: center;
    
}
.nosotros{
    display: block;
    justify-content: space-between;
    padding: 60px;
    width: 50%;
    border-radius: 10px;
    margin: 15px auto; 
}
.nosotros h2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
    text-align: center;
    margin-bottom: 20px;
    color: #0090218d;
}
.nosotros h2:hover{
    color: #7fffd4;
    transition: .4s;
}
.nosotros p{
    margin-bottom: 15px;
    margin-right: 15px;
    text-align: center;
color: #508593;}
.nosotros p:hover{
    color: #000000;
}

/*footer*/
.footer{
    background-color: #508593;
    padding: 1em 0;
    text-align: center;
    margin-top: auto;
    font-size: 20px;
}
.footer ul li{
    list-style-type: none;
    margin-right: 30px;
    cursor: pointer;
}
.colorcito{
    color:#7fffd4;
}
.colorcito:hover{
    color: #59c4ce;
    transition: .4s;
}
.footer ul li:hover{
    color: #7fffd4;
}
.redes{
    font-size: 40px;
    margin-top: 10px;
}
.fa-envelope{
    color: #7fffd4;
}
.fa-envelope:hover{
    color: #59c4ce;
    transition: .4s;
}
.fa-discord{
    color: #7fffd4;
}
.fa-discord:hover{
    color: #59c4ce;
    transition: .4s;
}
.fa-instagram{
    color: #7fffd4;
}
.fa-instagram:hover{
    color: #59c4ce;
    transition: .4s;
}