@media only screen and (min-width:900px) and (max-width:1200px){
    .textContacto p{
        font-size: 15px;
        margin-bottom: 7px;
    }
    .card{
        font-size: 15px;
    }
    .container h2{
        font-size: 25px;
    }
}
@media only screen and (min-width:900px) and (max-width:992px){
    .card{
        font-size: 12px;
    }
}
@media only screen and (min-width:600px) and (max-width:899px){
    h1{
        font-size: 60px;
    }
    .textContacto p{
        font-size: 11px;
    }
    .tituloMision{
        font-size: 30px;
    }
    .nosotros p{
        font-size: 11px;
    }
    .nosotros h2{
        font-size: 30px;
    }
    .card{
        font-size: 8px;
    }
    .container h2{
        font-size: 18px;
    }
}
@media only screen and (min-width:456px) and (max-width:599px){
    nav ul li{
        font-size: 15px;
        padding: 20px 0 20px;
        
    }
    h1{
        font-size: 30px;
    }
    h3{
        font-size:20px;
        margin-right: 20px;
    }
    .logo{
        font-size: 25px;
    }
    
    .tituloMision{
        font-size: 25px;
    }
    .textContacto p{
        font-size: 11px;
    }
    .nosotros p{
        font-size: 8px;
    }
    .nosotros h2{
        font-size: 25px;
    }
    .card{
        font-size: 6px;
    }
    .container h2{
        font-size: 15px;
    }
    .container{
    padding: 40px 60px;
    }
}
@media only screen and (min-width:320px) and (max-width:455px){
    nav ul li{
        font-size: 15px;
        padding: 20px 0 20px;
        
    }
    h1{
        font-size: 30px;
    }
    h3{
        font-size:20px;
        margin-right: 20px;
    }
    .logo{
        font-size: 25px;
    }
    .textContacto p{
        font-size: 9px;
    }
    .tituloMision{
        font-size: 18px;
    }
    .nosotros p{
        font-size: 8px;
        
    }
    .nosotros h2{
        font-size: 20px;
    }
    .card{
        font-size: 5px;
    }
    .container h2{
        font-size: 12px;
    }
    .container{
    padding: 20px 50px;
    }
}